<div class="toolbar-toggle" *ngIf="!toolbarVisible" [@toolbarToggleEnter] [@toolbarToggleLeave]>
    <button mat-icon-button color="accent" (click)="toggleToolbarVisible()"><mat-icon>menu</mat-icon></button>
</div>
<div class="toolbar btn-group" *ngIf="toolbarVisible" [@toolbarEnter] [@toolbarLeave]>
    <ng-container *ngIf="showDxfInput">
        <input #uploadInput type="file" hidden accept=".dxf" (input)="uploadDxf($event)" />
        <button mat-raised-button color="primary" (click)="uploadInput.click()">上传dxf</button>
        <span>打印效果图</span>
        <mat-slide-toggle [checked]="showDesignPics" (change)="setShowDesignPics($event)"></mat-slide-toggle>
        <mat-form-field style="width: 150px">
            <mat-label>字体</mat-label>
            <input type="text" matInput [(ngModel)]="fontFamily" />
        </mat-form-field>
    </ng-container>
    <button mat-raised-button color="primary" (click)="print()">打印</button>
    <button mat-icon-button color="accent" (click)="toggleToolbarVisible()"><mat-icon>menu</mat-icon></button>
</div>
<embed *ngIf="pdfUrl" name="算料单" width="100%" height="100%" [src]="pdfUrl" type="application/pdf" />
<ngx-ui-loader [loaderId]="loaderId" [text]="loaderText"></ngx-ui-loader>
