$bg-color: #616161;

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-color;
}

.toolbar {
    text-align: right;
    padding: 5px;
    background-color: $bg-color;
}
