<form>
	<button hidden></button>
	<div *ngFor="let d of data; let i = index">
		<mat-form-field>
			<mat-label>标注名字</mat-label>
			<input
				matInput
				type="text"
				[value]="getDimensionName(d, i)"
				(focus)="dimNameFocus = i"
				(blur)="dimNameFocus = -1"
				(change)="setDimensionName($event, d)"
				name="dimensionName"
			/>
			<mat-icon matSuffix color="primary" (click)="removeDimension(i)">remove_circle</mat-icon>
			<mat-hint [align]="'start'">
				<button mat-raised-button color="primary" (click)="editDimension(i)">编辑</button>
				<button mat-raised-button [color]="dimLineSelecting === i ? 'accent' : 'primary'" (click)="selectDimLine(i)">选线</button>
			</mat-hint>
		</mat-form-field>
	</div>
	<div class="btn-group">
		<button mat-raised-button [color]="dimLineSelecting === -1 ? 'accent' : 'primary'" (click)="addDimension()">
			添加标注
		</button>
	</div>
</form>
