<div class="title">条件取值设置</div>
<div class="btn-group">
	<div style="position: relative; display: inline-block">
		<button mat-raised-button color="accent" (click)="submit()">保存</button>
		<ngx-ui-loader [loaderId]="loaderId" [fgsSize]="30" [hasProgressBar]="false"></ngx-ui-loader>
	</div>
	<button mat-raised-button color="normal" (click)="close()">关闭</button>
</div>
<div class="content">
	<app-table
		#tableLeft
		[title]="'条件取值'"
		[data]="dataLeft"
		[columns]="columnsLeft"
		[newItem]="newItemLeft"
		[validator]="validatorLeft"
		[editable]="true"
		(rowButtonClick)="onRowButtonClick($event)"
		(cellChange)="onCellChange($event)"
	></app-table>
	<div class="divider"></div>
	<app-table
		title="条件取值数据"
		[data]="dataRight"
		[columns]="columnsRight"
		[newItem]="newItemRight"
		[editable] = "true"
		(cellFocus)="onCellFocus($event)"
	></app-table>
</div>
