<div class="btn-group">
  <button mat-raised-button color="primary" (click)="data.addSection()">添加分组</button>
  <button mat-raised-button color="primary" (click)="submit()">保存</button>
</div>
<div class="sections flex-row">
  <div class="section flex-column" *ngFor="let section of data.sections; let i = index">
    <div class="flex-row">
      <app-input *ngIf="section.nameInputInfo" [info]="section.nameInputInfo"></app-input>
      <button mat-icon-button color="accent" (click)="data.removeSection(i)"><mat-icon>close</mat-icon></button>
    </div>
    <ng-scrollbar class="flex-110">
      <div class="items flex-column">
        <div class="item flex-row" *ngFor="let item of section.items; let j = index">
          <button mat-icon-button color="primary" (click)="addNavItem(i, j)"><mat-icon>add</mat-icon></button>
          <button mat-icon-button color="accent" (click)="data.removeItem(section, j)"><mat-icon>close</mat-icon></button>
          <div class="name flex-row flex-110">{{ item.xiao }}</div>
        </div>
        <div class="item">
          <button mat-icon-button color="primary" (click)="addNavItem(i)"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
