<h1 mat-dialog-title [innerHTML]="titleHTML"></h1>
<div mat-dialog-content>
	<div [innerHTML]="contentHTML"></div>
	<mat-form-field *ngIf="data.type === 'prompt'">
		<input type="text" matInput [(ngModel)]="input" />
	</mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center;">
	<ng-container *ngIf="data.type === 'alert'">
		<button mat-raised-button (click)="cancle()" cdkFocusInitial>好的</button>
	</ng-container>
	<ng-container *ngIf="data.type === 'confirm'">
		<button mat-raised-button (click)="submit()">当然</button>
		<button mat-raised-button (click)="cancle()" cdkFocusInitial>算了</button>
	</ng-container>
	<ng-container *ngIf="data.type === 'prompt'">
		<button mat-raised-button (click)="submit()" cdkFocusInitial>确定</button>
		<button mat-raised-button (click)="cancle()">取消</button>
	</ng-container>
</div>
