.menu {
	z-index: 10;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);

	$offset-top: 40px;
	$offset-bottom: 40px;

	&.top {
		width: 100vw;
		border-radius: 0;
		padding: 0 10px;
		top: 0;
		background-color: #fafafa;
	}

	&.bottom {
		width: 100vw;
		bottom: 0;
		height: 20px;
		text-align: center;
		line-height: 22px;
		user-select: none;
	}

	&.left {
		top: $offset-top;
		height: calc(100vh - #{$offset-top} - #{$offset-bottom});
		width: 200px;
		padding: 10px;
		flex-direction: column;
		left: 0;
	}

	&.right {
		top: $offset-top;
		height: calc(100vh - #{$offset-top} - #{$offset-bottom});
		width: 250px;
		padding: 10px;
		flex-direction: column;
		right: 0;
	}

	&.accent {
		background-color: #ffcefc;
	}
}

::ng-deep .mat-tab-label,
::ng-deep .mat-tab-label-active {
	min-width: 60px !important;
	padding: 3px !important;
	margin: 3px !important;
}
::ng-deep .mat-tab-body-content {
	padding: 10px 0;
}

.menu-icon {
	background-color: white;
	transition: 0.3s;
	&.left {
		float: right;
		&.closed {
			transform: translateX(45px);
		}
	}
	&.right {
		&.closed {
			transform: translateX(-45px);
		}
	}
}

perfect-scrollbar {
	max-height: calc(100% - 40px);
}
