<div class="btn-group">
    <button mat-raised-button (click)="getExpressions()">选择订单</button>
    <span class="valid" *ngIf="valid">变量满足。</span>
    <span class="invalid" *ngIf="!valid">变量不满足！</span>
</div>
<div class="containers">
	<div class="vars-container">
		<div class="title">Cad公式</div>
		<div class="var" *ngFor="let str of vars1">{{ str }}</div>
	</div>
	<div class="vars-container">
		<div class="title">订单公式</div>
		<div class="var" *ngFor="let str of vars2; let i = index" [class.invalid]="i > vars1.length - 1">{{ str }}</div>
	</div>
</div>
