.cad-viewer {
	svg {
		box-sizing: border-box;

		* {
			cursor: pointer;
			user-select: none;
		}

		.fill {
			stroke: none;
			&:hover {
				fill: cyan;
			}
			&.selected {
				font-style: italic;
			}
		}

		.stroke {
			fill: none;
			&:hover {
				stroke: cyan;
			}
			&.selected {
				stroke-dasharray: 6, 3;
			}
		}
	}

	.multi-selector {
		position: absolute;
		background-color: rgba(29, 149, 234, 0.3);
		border: white solid 1px;
	}
}
