.cad-viewer {
	svg {
		box-sizing: border-box;

		* {
			cursor: pointer;
			user-select: none;
			vector-effect: non-scaling-stroke;
		}

		g {
			&.fill {
				&:hover > * {
					fill: cyan;
				}
				&.selected > * {
					font-style: italic;
				}
			}

			&.stroke {
				&:hover > * {
					stroke: cyan;
				}
				&.selected > * {
					stroke-dasharray: 6, 3;
				}
			}

			&:not(.fill) > * {
				fill: none;
			}

			&:not(.stroke) > * {
				stroke: none;
			}
		}
	}

	.multi-selector {
		position: absolute;
		background-color: rgba(29, 149, 234, 0.3);
		border: white solid 1px;
	}
}
