.cad-viewer {
	svg {
		box-sizing: border-box;

		* {
			user-select: none;
			// vector-effect: non-scaling-stroke;
			&.selectable {
				cursor: pointer;
			}
		}

		g {
			line,
			circle,
			path {
				&:not([fill]) {
					fill: none;
				}
			}

			text {
				&:not([stroke]) {
					stroke: none;
				}
			}

			&:hover.selectable {
				line,
				circle,
				path {
					stroke: cyan;
					&[fill] {
						fill: cyan;
					}
				}

				text {
					fill: cyan;
					&[stroke] {
						stroke: cyan;
					}
				}
			}

			&.selected.selectable {
				line,
				circle,
				path {
					stroke-dasharray: 10, 2;
				}

				text {
					font-style: italic;
				}
			}
		}
	}

	.multi-selector {
		position: absolute;
		background-color: rgba(29, 149, 234, 0.3);
		border: white solid 1px;
	}
}
