:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  --title-size: 1rem;
  --active-color: lightgray;
  --item-margin: 2px;
  --item-padding: 5px;
}

.bancai {
  margin: var(--item-margin);
  padding: var(--item-padding);
  border: var(--border);
  box-sizing: border-box;
  &.active {
    background-color: var(--active-color);
  }

  .bancai-info {
    align-items: center;
    > :not(:last-child) {
      margin-right: 10px;
    }

    .title {
      white-space: nowrap;
      justify-content: flex-end;
    }
  }
}

.item-list {
  flex-wrap: wrap;

  .item {
    width: calc(25% - var(--item-margin) * 2);
    margin: var(--item-margin);
    padding: var(--item-padding);
    box-sizing: border-box;
    cursor: pointer;
    &.active {
      background-color: var(--active-color);
    }

    app-image:not(.cad-preview) {
      height: 150px;
    }

    .title {
      .mat-mdc-icon-button {
        padding: 0;
      }
    }
  }
}

.mat-divider {
  margin: 5px;
  border-color: black;
}
