<div class="btn-group">
    <button mat-raised-button [style.z-index]="data ? '1' : '0'" [color]="isDrawingLine ? 'accent' : 'primary'" (click)="drawLine()">
        {{ cadStatusName }}
    </button>
    <button mat-raised-button [style.z-index]="data ? '1' : '0'" [color]="isMovingLines ? 'accent' : 'primary'" (click)="moveLines()">
        {{ cadStatusName }}
    </button>
    <button mat-raised-button color="primary" (click)="autoFix()">修正</button>
</div>
<form [class.not-allowed]="editDiabled">
    <button hidden></button>
    <div class="form-item">
        <mat-form-field>
            <mat-label>长度</mat-label>
            <input matInput type="number" [ngModel]="getLineLength()" (change)="setLineLength($event)" name="lineLength" />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field floatLabel="always">
            <mat-label>是否隐藏线长</mat-label>
            <mat-slide-toggle [ngModel]="getHideLength()" (change)="setHideLength($event)" name="hideLength"></mat-slide-toggle>
            <input matInput hidden />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>线长字体大小</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('lengthTextSize')"
                (change)="setLineText($event, 'lengthTextSize')"
                name="lengthTextSize"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>颜色</mat-label>
            <input
                matInput
                [value]="colorText"
                [style]="{color: colorValue, backgroundColor: colorBg, transition: '0.3s'}"
                [matMenuTriggerFor]="colorPicker"
                readonly
            />
            <mat-menu #colorPicker="matMenu">
                <color-circle
                    [width]="202"
                    [circleSpacing]="10"
                    [color]="colorValue"
                    [colors]="selectableColors"
                    (onChangeComplete)="setLineColor($event)"
                    (click)="$event.stopPropagation()"
                ></color-circle>
            </mat-menu>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>线宽</mat-label>
            <input matInput type="text" [ngModel]="getLinewidth()" (change)="setLinewidth($event)" name="linewidth" />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>名字</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('mingzi')"
                (input)="setLineText($event, 'mingzi')"
                (focus)="focusedField = 'mingzi'"
                (blur)="focusedField = ''"
                name="lineMingzi"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>区间</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('qujian')"
                (input)="setLineText($event, 'qujian')"
                (focus)="focusedField = 'qujian'"
                (blur)="focusedField = ''"
                name="lineQujian"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>公式</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('gongshi')"
                (input)="setLineText($event, 'gongshi')"
                (focus)="focusedField = 'gongshi'"
                (blur)="focusedField = ''"
                name="lineGongshi"
                [errorStateMatcher]="gongshiMatcher"
            />
            <mat-error>{{ inputErrors.gongshi }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>关联变化公式</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('guanlianbianhuagongshi')"
                (input)="setLineText($event, 'guanlianbianhuagongshi')"
                (focus)="focusedField = 'guanlianbianhuagongshi'"
                (blur)="focusedField = ''"
                name="guanlianbianhuagongshi"
                [errorStateMatcher]="guanlianbianhuagongshiMatcher"
            />
            <mat-error>{{ inputErrors.guanlianbianhuagongshi }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>孔位</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('kongwei')"
                (input)="setLineText($event, 'kongwei')"
                (focus)="focusedField = 'kongwei'"
                (blur)="focusedField = ''"
                name="kongwei"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>下一个折弯标线</mat-label>
            <mat-select name="nextZhewan" [ngModel]="getLineText('nextZhewan')" (selectionChange)="setLineText($event, 'nextZhewan')">
                <mat-option value="自动">自动</mat-option>
                <mat-option value="无">无</mat-option>
                <mat-option value="2mm">2mm</mat-option>
                <mat-option value="6mm">6mm</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>两根线之间的折弯标记</mat-label>
            <mat-select name="nextZhewan" [ngModel]="getLineText('betweenZhewan')" (selectionChange)="setLineText($event, 'betweenZhewan')">
                <mat-option value="自动">自动</mat-option>
                <mat-option value="无">无</mat-option>
                <mat-option value="2mm">2mm</mat-option>
                <mat-option value="6mm">6mm</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>折弯标记偏移</mat-label>
            <input
                matInput
                type="number"
                name="zhewanOffset"
                [ngModel]="getLineText('zhewanOffset')"
                (input)="setLineText($event, 'zhewanOffset')"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>指定折弯标记位置</mat-label>
            <input
                matInput
                min="0"
                type="number"
                name="zhewanValue"
                [ngModel]="getLineText('zhewanValue')"
                (input)="setLineText($event, 'zhewanValue')"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>展开方式</mat-label>
            <mat-select
                name="zhankaifangshi"
                [ngModel]="getLineText('zhankaifangshi')"
                (selectionChange)="setLineText($event, 'zhankaifangshi')"
            >
                <mat-option value="自动计算">自动计算</mat-option>
                <mat-option value="使用线长">使用线长</mat-option>
                <mat-option value="指定长度">指定长度</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-item" *ngIf="getLineText('zhankaifangshi') == '指定长度'">
        <mat-form-field>
            <mat-label>指定展开长</mat-label>
            <input
                matInput
                type="text"
                name="zidingzhankaichang"
                [ngModel]="getLineText('zidingzhankaichang')"
                (input)="setLineText($event, 'zidingzhankaichang')"
                [disabled]="getLineText('zhankaifangshi') !== '指定长度'"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>条件取值</mat-label>
            <input matInput type="text" disabled />
            <button mat-icon-button matSuffix color="primary" (click)="editTiaojianquzhi()">
                <mat-icon>list</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>使用差值</mat-label>
            <input
                matInput
                type="text"
                [ngModel]="getLineText('shiyongchazhi')"
                (input)="setLineText($event, 'shiyongchazhi')"
                (focus)="focusedField = 'shiyongchazhi'"
                (blur)="focusedField = ''"
                name="shiyongchazhi"
            />
        </mat-form-field>
    </div>
    <div class="form-item">
        <mat-form-field>
            <mat-label>展开小数处理</mat-label>
            <mat-select
                name="zhankaixiaoshuchuli"
                [ngModel]="getLineText('zhankaixiaoshuchuli')"
                (selectionChange)="setLineText($event, 'zhankaixiaoshuchuli')"
            >
                <mat-option value="不处理">不处理</mat-option>
                <mat-option value="舍去小数">舍去小数</mat-option>
                <mat-option value="小数进一">小数进一</mat-option>
                <mat-option value="四舍五入">四舍五入</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
