<form *ngIf="selectedLines.length">
	<button hidden></button>
	<div class="form-item length">
		<mat-form-field>
			<mat-label>长度</mat-label>
			<input
				matInput
				type="number"
				[ngModel]="getLineLength()"
				(change)="setLineLength($event)"
				name="lineLength"
			/>
		</mat-form-field>
	</div>
	<div class="form-item color">
		<mat-form-field>
			<mat-label>颜色</mat-label>
			<input
				matInput
				ejs-colorpicker
				type="color"
				[width]="'400px'"
				[mode]="'Palette'"
                [modeSwitcher]="false"
                [presetColors]="selectableColors"
				[enableOpacity]="false"
				[value]="getCssColor()"
				(change)="setLineColor($event)"
			/>
		</mat-form-field>
	</div>
	<div class="form-item mingzi">
		<mat-form-field>
			<mat-label>名字</mat-label>
			<input
				matInput
				type="text"
				[ngModel]="getLineText('mingzi')"
				(change)="setLineText($event, 'mingzi')"
				(focus)="focusedField = 'mingzi'"
				(blur)="focusedField = ''"
				name="lineMingzi"
			/>
		</mat-form-field>
	</div>
	<div class="form-item qujian">
		<mat-form-field>
			<mat-label>区间</mat-label>
			<input
				matInput
				type="text"
				[ngModel]="getLineText('qujian')"
				(change)="setLineText($event, 'qujian')"
				(focus)="focusedField = 'qujian'"
				(blur)="focusedField = ''"
				name="lineQujian"
			/>
		</mat-form-field>
	</div>
	<div class="form-item gongshi">
		<mat-form-field>
			<mat-label>公式</mat-label>
			<input
				matInput
				type="text"
				[ngModel]="getLineText('gongshi')"
				(change)="setLineText($event, 'gongshi')"
				(focus)="focusedField = 'gongshi'"
				(blur)="focusedField = ''"
				name="lineGongshi"
			/>
		</mat-form-field>
	</div>
	<div class="form-item guanlianbianhuagongshi">
		<mat-form-field>
			<mat-label>关联变化公式</mat-label>
			<input
				matInput
				type="text"
				[ngModel]="getLineText('guanlianbianhuagongshi')"
				(change)="setLineText($event, 'guanlianbianhuagongshi')"
				(focus)="focusedField = 'guanlianbianhuagongshi'"
				(blur)="focusedField = ''"
				name="guanlianbianhuagongshi"
			/>
		</mat-form-field>
	</div>
</form>
