@font-face {
    font-family: "thuum";
    src: url("../../../assets/fonts/dragon_alphabet.ttf");
}

:host {
    display: block;
    width: 100%;
}

.container {
    display: flex;

    .placeholder {
        animation: slide 30s infinite linear;
    }

    .thuum {
        font-family: "thuum";
        font-size: 2rem;
        color: white;
    }
}

@keyframes slide {
    0% {
        flex: 0 0 0;
    }

    50% {
        flex: 1 1 0;
    }

    100% {
        flex: 0 0 0;
    }
}
