<div [class.not-allowed]="editDisabled">
    <form *ngFor="let cad of cadsData; let i = index" [class.add-divider]="i < cadsData.length - 1">
        <button hidden></button>
        <mat-form-field>
            <mat-label>名字</mat-label>
            <input matInput type="text" [(ngModel)]="cad.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>分类</mat-label>
            <input matInput type="text" [(ngModel)]="cad.type" name="type" />
        </mat-form-field>
        <div class="sub-form-field">
            <div class="label">选项</div>
            <div *ngIf="keysOf(cad.options).length === 0">
                <button mat-icon-button color="primary" (click)="objectAdd(cad.options, '')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
            <div *ngFor="let key of keysOf(cad.options)">
                <mat-form-field style="width: 30%">
                    <mat-label>选项-键</mat-label>
                    <input type="text" matInput [value]="key" (change)="changeObjectKey(cad.options, key, $event)" />
                </mat-form-field>
                <mat-form-field style="width: 70%">
                    <mat-label>选项-值</mat-label>
                    <input type="text" matInput [(ngModel)]="cad.options[key]" [ngModelOptions]="{standalone: true}" />
                    <button mat-icon-button matSuffix color="primary" (click)="selectOptions(cad, key)">
                        <mat-icon>list</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="objectAdd(cad.options, '', '')">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="objectRemove(cad.options, key)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="sub-form-field">
            <div class="label">条件</div>
            <div *ngIf="cad.conditions.length === 0">
                <button mat-icon-button color="primary" (click)="arrayAdd(cad.conditions, '')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
            <mat-form-field *ngFor="let c of ' '.repeat(cad.conditions.length).split(''); let j = index">
                <input matInput type="text" [(ngModel)]="cad.conditions[j]" [ngModelOptions]="{standalone: true}" />
                <button mat-icon-button matSuffix color="primary" (click)="arrayAdd(cad.conditions, '', j + 1)">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button matSuffix color="primary" (click)="arrayRemove(cad.conditions, j)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="form-item-group hint">
            <div *ngFor="let b of cad.baseLines; let i = index">
                <mat-form-field [color]="getItemColor('selectBaseline', i)">
                    <mat-label>基准</mat-label>
                    <input matInput type="text" [(ngModel)]="b.name" name="baseLineName" />
                    <button mat-icon-button matSuffix [color]="getItemColor('selectBaseline', i)" (click)="selectBaseLine(i)">
                        <mat-icon>link</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="addBaseLine(cad, i)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="removeBaseLine(cad, i)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                    <mat-hint [align]="'start'">x:{{ b.valueX?.toFixed(2) }}, y:{{ b.valueY?.toFixed(2) }}</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="form-item-group hint">
            <div *ngFor="let j of cad.jointPoints; let i = index">
                <mat-form-field [color]="getItemColor('selectJointpoint', i)">
                    <mat-label>连接点</mat-label>
                    <input matInput type="text" [(ngModel)]="j.name" name="jointPointName" />
                    <button mat-icon-button matSuffix [color]="getItemColor('selectJointpoint', i)" (click)="selectBaseLine(i)">
                        <mat-icon>link</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="addJointPoint(cad, i)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix color="primary" (click)="removeJointPoint(cad, i)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                    <mat-hint [align]="'start'">x:{{ j.valueX?.toFixed(2) }}, y:{{ j.valueY?.toFixed(2) }}</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field>
            <mat-label>模板放大</mat-label>
            <mat-select [(ngModel)]="cad.mubanfangda" name="mubanfangda">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>开料时刨坑</mat-label>
            <mat-select [(ngModel)]="cad.kailiaoshibaokeng" name="kailiaoshibaokeng">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>变形方式</mat-label>
            <mat-select [(ngModel)]="cad.bianxingfangshi" name="bianxingfangshi">
                <mat-option [value]="'自由'">自由</mat-option>
                <mat-option [value]="'高比例变形'">高比例变形</mat-option>
                <mat-option [value]="'宽比例变形'">宽比例变形</mat-option>
                <mat-option [value]="'宽高比例变形'">宽高比例变形</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>板材纹理方向</mat-label>
            <mat-select [(ngModel)]="cad.bancaiwenlifangxiang" name="bancaiwenlifangxiang">
                <mat-option [value]="'垂直'">垂直</mat-option>
                <mat-option [value]="'水平'">水平</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>开料排版方式</mat-label>
            <mat-select [(ngModel)]="cad.kailiaopaibanfangshi" name="kailiaopaibanfangshi">
                <mat-option [value]="'自动排版'">自动排版</mat-option>
                <mat-option [value]="'不排版'">不排版</mat-option>
                <mat-option [value]="'必须排版'">必须排版</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>默认开料板材</mat-label>
            <input matInput type="text" [(ngModel)]="cad.morenkailiaobancai" name="morenkailiaobancai" />
            <button mat-icon-button matSuffix color="primary" (click)="selectOptions(cad, 'bancai')">
                <mat-icon>list</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>算料处理</mat-label>
            <mat-select [(ngModel)]="cad.suanliaochuli" name="suanliaochuli">
                <mat-option [value]="'算料+显示展开+开料'">算料+显示展开+开料</mat-option>
                <mat-option [value]="'算料+开料'">算料+开料</mat-option>
                <mat-option [value]="'算料+显示展开'">算料+显示展开</mat-option>
                <mat-option [value]="'算料'">算料</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>显示宽度标注</mat-label>
            <mat-select [(ngModel)]="cad.showKuandubiaozhu" name="showKuandubiaozhu">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>板材厚度方向</mat-label>
            <mat-select [ngModel]="cad.bancaihoudufangxiang" name="bancaihoudufangxiang" (selectionChange)="offset($event)">
                <mat-option [value]="'gt0'">方向1</mat-option>
                <mat-option [value]="'lt0'">方向2</mat-option>
                <mat-option [value]="'none'">不指定</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>自定义属性</mat-label>
            <input matInput type="text" disabled name="attributes" />
            <button mat-icon-button matSuffix color="primary" (click)="editAttributes(cad)">
                <mat-icon>list</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>展开</mat-label>
            <input matInput type="text" disabled name="zhankai" />
            <button mat-icon-button matSuffix color="primary" (click)="editZhankai(cad)">
                <mat-icon>list</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>算料单显示板材</mat-label>
            <mat-select [(ngModel)]="cad.suanliaodanxianshibancai" name="suanliaodanxianshibancai">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>必须绑定花件</mat-label>
            <mat-select [(ngModel)]="cad.needsHuajian" name="needsHuajian">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>可独立板材</mat-label>
            <mat-select [(ngModel)]="cad.kedulibancai" name="kedulibancai">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>双向折弯</mat-label>
            <mat-select [(ngModel)]="cad.shuangxiangzhewan" name="shuangxiangzhewan">
                <mat-option [value]="true">是</mat-option>
                <mat-option [value]="false">否</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<app-cad-points></app-cad-points>
