:host {
  width: calc(80vw - 48px);
  height: calc(80vh - 24px);
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;

  .data-container {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
  }

  app-image {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.content {
  height: 0;
  flex: 1 1 0;
}
