:host {
	width: calc(80vw - 48px);
	height: calc(80vh - 24px);
	display: flex;
	flex-direction: column;
}

.checkbox-group {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;

	.data-container {
		width: calc(14vw - 5px);
		height: 200px;
		padding: 5px;
		box-sizing: border-box;
	}

	app-image {
		width: 100%;
		height: calc(100% - 1.5rem);
		display: block;
		cursor: pointer;
	}
}

.content {
	height: 0;
	flex: 1 1 0;
}
