<div class="content" [ngSwitch]="step$.value.value">
    <ng-container *ngSwitchCase="1">
        <div class="content types-info">
            <div class="content types-info-1">
                <ng-scrollbar class="content">
                    <div class="content">
                        <div *ngFor="let item of typesInfo | keyvalue">
                            <button mat-raised-button [color]="type1 === item.key ? 'accent' : 'primary'" (click)="setTypesInfo1(item.key)">
                                {{ item.key }}
                            </button>
                        </div>
                    </div>
                </ng-scrollbar>
            </div>
            <div class="content types-info-2">
                <ng-scrollbar class="content">
                    <div class="content types-info-items" *ngIf="typesInfo[type1]">
                        <div class="types-info-item" *ngFor="let item of typesInfo[type1] | keyvalue">
                            <div class="content images">
                                <app-image class="xiaoguotu" [src]="item.value.xiaoguotu" [prefix]="urlPrefix"></app-image>
                                <app-image class="jiemiantu" [src]="item.value.jiemiantu" [prefix]="urlPrefix"></app-image>
                            </div>
                            <div class="content title">
                                <button mat-icon-button color="primary" (click)="addResultItem(type1, item.key)">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                                <div class="name">{{ item.key }}</div>
                            </div>
                        </div>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
        <mat-divider vertical></mat-divider>
        <ng-scrollbar class="content">
            <div class="content types-info-items">
                <div class="types-info-item" *ngFor="let item of result; let i = index">
                    <div class="content images">
                        <app-image class="xiaoguotu" [src]="item.xiaoguotu" [prefix]="urlPrefix"></app-image>
                        <app-image class="jiemiantu" [src]="item.jiemiantu" [prefix]="urlPrefix"></app-image>
                    </div>
                    <div class="content title">
                        <button mat-icon-button color="primary" (click)="removeResultItem(i)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                        <div class="name">{{ item.type1 }} - {{ item.type2 }}</div>
                    </div>
                    <div class="content inputs">
                        <app-input
                            [info]="{type: 'string', label: '总宽', model: {key: 'totalWidth', data: item}, showEmpty: true}"
                        ></app-input>
                        <app-input
                            [info]="{type: 'string', label: '总高', model: {key: 'totalHeight', data: item}, showEmpty: true}"
                        ></app-input>
                    </div>
                    <div class="content inputs" *ngFor="let group of item.gongshishuru">
                        <app-input [info]="{type: 'string', label: group[0], model: {key: '1', data: group}, showEmpty: true}"></app-input>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </ng-container>
    <ng-container *ngSwitchCase="2">
        <ng-scrollbar class="content">
            <div *ngFor="let item of result; let i = index">
                <div class="content cads">
                    <div *ngFor="let cad of item.cads; let j = index" class="cad">
                        <app-spinner [id]="'zixuanpeijian-' + cad.data.id" [inline]="true"></app-spinner>
                        <div [id]="'cad-viewer-' + i + '-' + j" (contextmenu)="onContextMenu($event, i, j)"></div>
                        <div class="name">
                            <!-- <button mat-icon-button color="primary" (click)="removeCadItem(i)">
                                <mat-icon>remove_circle</mat-icon>
                            </button> -->
                            <span [matTooltip]="cad.data.name" [matTooltipShowDelay]="500" matTooltipPosition="above">
                                {{ cad.data.name }}
                            </span>
                        </div>
                        <div class="content inputs" *ngFor="let zhankai of cad.info.zhankai; let j = index">
                            <!-- <button mat-icon-button color="primary" (click)="addZhankai(i, j)">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                            <button [disabled]="j === 0" mat-icon-button color="primary" (click)="removeZhankai(i, j)">
                                <mat-icon>remove_circle</mat-icon>
                            </button> -->
                            <app-input
                                [info]="{
                                    type: 'string',
                                    label: '展开宽',
                                    model: {key: 'width', data: zhankai},
                                    autocomplete: 'off',
                                    showEmpty: true
                                }"
                            ></app-input>
                            <span>×</span>
                            <app-input
                                [info]="{
                                    type: 'string',
                                    label: '展开高',
                                    model: {key: 'height', data: zhankai},
                                    autocomplete: 'off',
                                    showEmpty: true
                                }"
                            ></app-input>
                            <span>=</span>
                            <app-input
                                [info]="{
                                    type: 'string',
                                    label: '数量',
                                    model: {key: 'num', data: zhankai},
                                    autocomplete: 'off',
                                    showEmpty: true
                                }"
                            ></app-input>
                        </div>
                        <div class="content inputs">
                            <app-input
                                [info]="{
                                    type: 'string',
                                    label: '板材',
                                    value: cad.info.bancai?.mingzi,
                                    readonly: true,
                                    showEmpty: true
                                }"
                                (click)="openBancaiListDialog(i, j)"
                            ></app-input>
                        </div>
                        <div class="content inputs" *ngIf="cad.info.bancai">
                            <app-input
                                [info]="{
                                    type: 'select',
                                    label: '材料',
                                    options: cad.info.bancai.cailiaoList,
                                    model: {key: 'cailiao', data: cad.info.bancai},
                                    autocomplete: 'off',
                                    showEmpty: true
                                }"
                            ></app-input>
                            <app-input
                                [info]="{
                                    type: 'select',
                                    label: '厚度',
                                    options: cad.info.bancai.houduList,
                                    model: {key: 'houdu', data: cad.info.bancai},
                                    autocomplete: 'off',
                                    showEmpty: true
                                }"
                            ></app-input>
                        </div>
                        <div class="btn-group">
                            <button mat-raised-button color="primary" (click)="openKlkwpzDialog(cad.data)">开料孔位配置</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </ng-container>
</div>

<div class="toolbar btn-group">
    <button mat-raised-button color="primary" (click)="submit()">提交</button>
    <button mat-raised-button (click)="cancle()">取消</button>
</div>

<app-spinner [id]="spinnerId"></app-spinner>
<div
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="centerCad()">居中</button>
    </ng-template>
</mat-menu>
