:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.content {
    display: flex;
    flex: 1 1 0;
}

.types-info {
    .types-info-1 {
        flex: 0 0 120px;

        .content {
            flex-direction: column;
            > :not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.types-info-items {
    flex-wrap: wrap;
}

.types-info-item {
    $margin: 5px;
    flex: 0 0 calc(33.33% - $margin);
    margin-bottom: 5px;
    &:not(:nth-child(3n)) {
        margin-right: $margin;
    }
    > :not(:last-child) {
        margin-bottom: $margin;
    }

    .title {
        align-items: center;
    }
}

.cads {
    flex-wrap: wrap;

    .cad {
        padding: 5px;
        box-sizing: border-box;
        position: relative;

        .name {
            display: flex;

            .mat-icon-button {
                width: auto;
                height: auto;
                line-height: 1em;
            }

            .name-text {
                flex: 1 1 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

.inputs {
    align-items: center;

    > {
        *:not(:first-child) {
            margin-left: 5px;
        }

        app-input,
        mat-form-field {
            width: 0;
            flex: 1 1 0;
        }

        span {
            margin-top: -15px;
        }
    }

    &.gongshishuru {
        flex-wrap: wrap;
        > * {
            flex: 0 0 calc(50% - 2.5px);
            &:nth-child(2n) {
                margin-left: 5px;
            }
            &:nth-child(2n + 1) {
                margin-left: 0;
            }
        }
    }
}

.mat-icon-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    flex: 0 0 auto;
}

.toolbar {
    justify-content: center;

    > * {
        flex: 1 1 0;
        &:nth-child(1) {
            text-align: right;
        }
    }
}
