<div class="content" [ngSwitch]="step$.value.value">
    <ng-container *ngSwitchCase="1">
        <div class="content types-info">
            <div class="content types-info-1">
                <ng-scrollbar class="content">
                    <div class="content">
                        <div *ngFor="let item of typesInfo | keyvalue: returnZero">
                            <button mat-raised-button [color]="type1 === item.key ? 'accent' : 'primary'" (click)="setTypesInfo1(item.key)">
                                {{ item.key }}
                            </button>
                        </div>
                    </div>
                </ng-scrollbar>
            </div>
            <div class="content types-info-2">
                <ng-scrollbar class="content">
                    <div class="content types-info-items" *ngIf="typesInfo[type1]">
                        <ng-container *ngFor="let item of typesInfo[type1] | keyvalue: returnZero">
                            <div class="types-info-item" *ngIf="showItem(item.value)">
                                <div class="content images">
                                    <app-image
                                        class="xiaoguotu"
                                        [src]="item.value.xiaoguotu"
                                        [bigPicSrc]="item.value.xiaoguotu"
                                        [prefix]="urlPrefix"
                                    ></app-image>
                                    <app-image
                                        class="jiemiantu"
                                        [src]="item.value.jiemiantu"
                                        [bigPicSrc]="item.value.jiemiantu"
                                        [prefix]="urlPrefix"
                                    ></app-image>
                                </div>
                                <div class="content title">
                                    <button mat-icon-button color="primary" (click)="addResultItem(type1, item.key)">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                    <div class="name">{{ item.key }}</div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
        <mat-divider vertical style="margin: 0 10px"></mat-divider>
        <ng-scrollbar class="content">
            <div class="content types-info-items">
                <div class="types-info-item" *ngFor="let item of result; let i = index">
                    <div class="content images">
                        <app-image class="xiaoguotu" [src]="item.xiaoguotu" [bigPicSrc]="item.xiaoguotu" [prefix]="urlPrefix"></app-image>
                        <app-image class="jiemiantu" [src]="item.jiemiantu" [bigPicSrc]="item.jiemiantu" [prefix]="urlPrefix"></app-image>
                    </div>
                    <div class="content title">
                        <button mat-icon-button color="primary" (click)="removeResultItem(i)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                        <div class="name">{{ item.type1 }} - {{ item.type2 }}</div>
                    </div>
                    <div class="content inputs">
                        <app-input [info]="resultInputInfos[i]['总宽']"></app-input>
                        <app-input [info]="resultInputInfos[i]['总高']"></app-input>
                    </div>
                    <div class="content inputs gongshishuru">
                        <app-input
                            *ngFor="let group of item.gongshishuru; let j = index"
                            [info]="resultInputInfos[i]['公式输入'][j]"
                        ></app-input>
                    </div>
                    <div class="content inputs gongshishuru">
                        <app-input
                            *ngFor="let group of item.xuanxiangshuru; let j = index"
                            [info]="resultInputInfos[i]['选项输入'][j]"
                        ></app-input>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </ng-container>
    <ng-container *ngSwitchCase="2">
        <ng-scrollbar class="content">
            <div *ngFor="let item of result; let i = index">
                <div>{{ item.type1 }} - {{ item.type2 }}</div>
                <div class="content cads">
                    <ng-container *ngFor="let cad of item.cads; let j = index">
                        <div *ngIf="!cad.data.info.hidden" class="cad">
                            <app-spinner [id]="'zixuanpeijian-' + cad.data.id" [inline]="true"></app-spinner>
                            <div [id]="'cad-viewer-' + i + '-' + j" (contextmenu)="onContextMenu($event, i, j)"></div>
                            <div class="name">
                                <span [matTooltip]="cad.data.name" [matTooltipShowDelay]="500" matTooltipPosition="above">
                                    {{ cad.data.name }}
                                </span>
                                <button mat-icon-button color="primary" (click)="openCad(cad)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button>
                            </div>
                            <div class="content inputs" *ngFor="let zhankai of cad.info.zhankai; let k = index">
                                <button mat-icon-button color="primary" (click)="addZhankai(i, j, k)">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                                <button [disabled]="k === 0" mat-icon-button color="primary" (click)="removeZhankai(i, j, k)">
                                    <mat-icon>remove_circle</mat-icon>
                                </button>
                                <!-- <mat-checkbox [(ngModel)]="zhankai.custom">自定义</mat-checkbox> -->
                                <app-input [info]="resultInputInfos[i].cads[j].zhankai[k].width"></app-input>
                                <span>×</span>
                                <app-input [info]="resultInputInfos[i].cads[j].zhankai[k].height"></app-input>
                                <span>=</span>
                                <app-input [info]="resultInputInfos[i].cads[j].zhankai[k].num"></app-input>
                            </div>
                            <div class="content inputs">
                                <app-input [info]="resultInputInfos[i]['cads'][j]['板材']" (click)="openBancaiListDialog(i, j)"></app-input>
                            </div>
                            <div class="content inputs" *ngIf="cad.info.bancai">
                                <app-input [info]="resultInputInfos[i]['cads'][j]['材料']"></app-input>
                                <app-input [info]="resultInputInfos[i]['cads'][j]['厚度']"></app-input>
                            </div>
                            <div class="btn-group">
                                <button mat-raised-button color="primary" (click)="openKlkwpzDialog(cad.data)">开料孔位配置</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-scrollbar>
    </ng-container>
</div>

<div class="toolbar btn-group">
    <div>
        <button mat-raised-button color="primary" (click)="submit()">{{ summitBtnText }}</button>
    </div>
    <div><button mat-raised-button (click)="cancle()">取消</button></div>
</div>

<app-spinner [id]="spinnerId"></app-spinner>
<div
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="centerCad()">居中</button>
    </ng-template>
</mat-menu>
