<div class="content">
    <div class="section" style="flex: 1 1 0">
        <div>
            <mat-form-field>
                <input type="text" matInput [(ngModel)]="cadsFilterInput" (input)="filterCads()" />
            </mat-form-field>
        </div>
        <ng-scrollbar>
            <div class="cads">
                <ng-container *ngFor="let cad of cads">
                    <div *ngIf="!cad.hidden" class="cad" style="width: 33.33%">
                        <img class="cad-preview" [src]="cad.img" />
                        <div class="name">
                            <button mat-icon-button color="primary" (click)="addSelectedCad(cad.data)">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                            <span [matTooltip]="cad.data.name" [matTooltipShowDelay]="500" matTooltipPosition="above">
                                {{ cad.data.name }}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-scrollbar>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="section" style="flex: 1 1 0">
        <ng-scrollbar>
            <div class="cads">
                <div *ngFor="let cad of selectedCads; let i = index" class="cad" style="width: 50%">
                    <div #selectedCadViewer></div>
                    <div class="name">
                        <button mat-icon-button color="primary" (click)="removeSelectedCad(i)">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                        <span [matTooltip]="cad.data.name" [matTooltipShowDelay]="500" matTooltipPosition="above">
                            {{ cad.data.name }}
                        </span>
                    </div>
                    <div class="inputs">
                        <span>展开: </span>
                        <mat-form-field>
                            <input type="number" matInput [autocomplete]="false" />
                        </mat-form-field>
                        <span>×</span>
                        <mat-form-field>
                            <input type="number" matInput [autocomplete]="false" />
                        </mat-form-field>
                        <span>=</span>
                        <mat-form-field>
                            <input type="number" matInput [autocomplete]="false" />
                        </mat-form-field>
                    </div>
                    <div class="inputs">
                        <span>板材: </span>
                        <mat-select>
                            <mat-option>1</mat-option>
                        </mat-select>
                        <mat-select>
                            <mat-option>1</mat-option>
                        </mat-select>
                        <mat-select>
                            <mat-option>1</mat-option>
                        </mat-select>
                    </div>
                    <div>
                        <button mat-raised-button color="primary">开料孔位配置</button>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</div>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <button mat-raised-button color="primary" (click)="cancle()">取消</button>
</div>
