button {
	min-width: unset !important;
	padding: 0 8px;
}

perfect-scrollbar {
	height: calc(100% - 137px);
}

.cad-image {
	margin: 10px 0;
	box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.3);
	text-align: center;

	.title {
		line-height: 1.5rem;
		font-size: 1rem;
	}

	img {
		cursor: pointer;
		width: 100%;

		&:hover {
			transform: scale(1.01);
		}
	}

	&.active {
		.title {
			background-color: red;
		}
	}
}
