:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  --title-size: 1.2rem;
}

.menshan-options {
  border: var(--border);
  width: 100px;

  .menshan-option {
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
    &:hover {
      background-color: lightgray;
    }
    &.active {
      background-color: lightgray;
    }
  }
}

.mokuai {
  width: 20%;
  height: 300px;
  padding: 5px;
  box-sizing: border-box;
  &:not(.active) {
    cursor: pointer;
  }

  .xiaoguotu {
    height: 0;
  }

  .title {
    font-size: 1rem;
    text-align: center;
  }
}

.xinghao-info {
  cursor: pointer;

  > div {
    padding: 15px;
  }
}

.mokuai-inputs {
  flex-wrap: wrap;
  --mokuai-inputs-space: 2px;

  app-input {
    width: calc(50% - var(--mokuai-inputs-space));
    box-sizing: border-box;
    &:nth-child(odd) {
      margin-right: calc(var(--mokuai-inputs-space) * 2);
    }
  }
}
