<div class="btn-group">
  <button mat-raised-button color="primary" (click)="submit()">提交</button>
</div>
<div class="flex-row flex-110">
  <div class="flex-column">
    <div class="title">选择要模块替换的门扇</div>
    <div class="flex-column menshan-options">
      <div
        class="flex-row menshan-option"
        *ngFor="let item of dataInfo?.menshanbujuInfos | keyvalue : returnZero"
        [ngClass]="{active: activeMenshanKey === item.key}"
        (click)="selectMenshanKey(item.key)"
      >
        {{ item.key }}
      </div>
    </div>
  </div>
  <div class="flex-110 flex-column">
    <div class="flex-row" style="height: 50%">
      <div class="flex-column" style="width: 300px">
        <div class="title">布局：{{ activeMsbj?.name }}</div>
        <app-msbj-rects [rectInfos]="activeMsbj?.rectInfos" [selectRectBefore]="selectRectBefore.bind(this)" (selectRect)="selectRect($event)"></app-msbj-rects>
        <div class="btn-group" style="justify-content: center">
          <button mat-raised-button color="primary" (click)="setMsbj()">更换布局</button>
        </div>
      </div>
      <div class="flex-110 flex-column">
        <div class="flex-110"></div>
        <div class="flex-110 flex-row">
          <ng-container *ngIf="showMokuais">
            <ng-template *ngTemplateOutlet="mokuaiT; context: getMokuaiTemplate(activeRectInfo)"></ng-template>
          </ng-container>
          <div class="flex-110"></div>
        </div>
      </div>
    </div>
    <ng-scrollbar class="flex-110">
      <div class="flex-row" style="flex-wrap: wrap" [ngStyle]="{display: showMokuais ? 'flex' : 'none'}">
        <ng-container *ngFor="let item of step1Data.typesInfo | keyvalue : returnZero">
          <ng-container *ngFor="let item2 of item.value | keyvalue : returnZero">
            <ng-template *ngTemplateOutlet="mokuaiT; context: {$implicit: item2.value, type1: item.key, type2: item2.key}"></ng-template>
          </ng-container>
        </ng-container>
      </div>
    </ng-scrollbar>
  </div>
</div>

<ng-template #mokuaiT [appTypedTemplate]="mokuaiTemplateType" let-mokuai let-type1="type1" let-type2="type2" let-isActive="isActive">
  <div class="flex-column mokuai" [ngClass]="{active: isActive}" (click)="selectMokuai(mokuai)">
    <div class="title" *ngIf="isActive">当前模块：</div>
    <app-image class="xiaoguotu flex-110" [src]="mokuai?.xiaoguotu" [prefix]="step1Data.prefix"></app-image>
    <div class="title">{{ getMokuaiTitle({type1, type2})||'无' }}</div>
  </div>
</ng-template>
