:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  --title-size: 1.2rem;
}

.menshan-options {
  border: var(--border);

  .menshan-option {
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: var(--border);
    }
    &:hover {
      background-color: lightgray;
    }
    &.active {
      background-color: lightgray;
    }
  }
}

.mokuai {
  width: 20%;
  min-width: 100px;
  height: 250px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  &.active {
    background-color: lightgray;
  }

  .active-sign {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(224, 46, 42);
    --icon-size: 48px;
  }

  .default-sign {
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
    &.active {
      color: rgb(224, 46, 42);
    }
    --icon-size: 48px;
  }

  .xiaoguotu {
    height: 0;
  }

  .title {
    font-size: 1rem;
    text-align: center;
    height: 80px;
  }
}

.xinghao-info {
  &.editable {
    cursor: pointer;
  }

  > div {
    padding: 15px;
  }
}

.mokuai-inputs {
  flex-wrap: wrap;
  --mokuai-inputs-space: 2px;

  app-input {
    width: calc(50% - var(--mokuai-inputs-space));
    box-sizing: border-box;
    &:nth-child(odd) {
      margin-right: calc(var(--mokuai-inputs-space) * 2);
    }
  }
}

.bancaixuanze-item {
  > :not(:last-child) {
    margin-right: 5px;
  }

  .key {
    flex: 0 0 auto;
  }
}

.xiaoguotu {
  position: relative;
  transform-origin: left top;
}
