<div class="flex-row" style="justify-content: space-between">
  <div class="flex-row">
    <div class="btn-group">
      <button
        mat-raised-button
        [color]="name === activeTabName ? 'accent' : 'primary'"
        *ngFor="let name of tabNames"
        (click)="setTabName(name)"
      >
        {{ name }}
      </button>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="btn-group">
      <ng-container *ngIf="!isFromOrder">
        <button mat-raised-button color="primary" (click)="setMsbj()">更换布局</button>
        <button mat-raised-button color="primary" *ngIf="activeRectInfo" (click)="setKexuanmokuai()">设置可选模块</button>
      </ng-container>
      <button mat-raised-button color="primary" (click)="editMokuaidaxiao()">模块大小</button>
      <div>型号：{{ xinghao?.raw?.mingzi }}</div>
    </div>
  </div>
  <div class="btn-group" [ngSwitch]="activeTabName" *ngIf="!isFromOrder">
    <ng-container *ngSwitchCase="'门扇模块'">
      <button mat-stroked-button color="primary" (click)="submit()">保存型号默认门扇布局</button>
      <button mat-stroked-button color="primary">另存为新型号默认门扇布局</button>
    </ng-container>
  </div>
</div>
<ng-container [ngSwitch]="activeTabName">
  <div class="flex-row flex-110" *ngSwitchCase="'门扇模块'">
    <ng-scrollbar style="width: 180px">
      <div class="flex-column menshan-options">
        <div
          class="flex-column menshan-option"
          *ngFor="let item of data?.menshanbujuInfos | keyvalue : returnZero"
          [ngClass]="{active: activeMenshanKey === item.key}"
          (click)="selectMenshanKey(item.key)"
        >
          <div style="font-weight: bold">{{ item.key }}</div>
          <div *ngIf="item.value['选中布局']">布局：{{ getMsbj(item.value["选中布局"])?.name }}</div>
        </div>
      </div>
    </ng-scrollbar>
    <mat-divider vertical></mat-divider>
    <div class="flex-110 flex-column">
      <div class="flex-row flex-110">
        <div class="flex-column flex-110">
          <app-msbj-rects
            [rectInfos]="activeMsbj?.peizhishuju?.['模块节点']"
            [selectRectBefore]="selectRectBefore.bind(this)"
            (selectRect)="selectRect($event)"
            (generateRectsEnd)="generateRectsEnd()"
          ></app-msbj-rects>
        </div>
        <div class="flex-110 flex-row">
          <div class="flex-column flex-110">
            <ng-scrollbar class="flex-110">
              <div class="mokuai-inputs flex-row">
                <app-input *ngFor="let info of mokuaiInputInfos" [info]="info"></app-input>
              </div>
            </ng-scrollbar>
            <div class="flex-110 flex-column" *ngIf="xinghao">
              <div>板材选择</div>
              <ng-scrollbar>
                <ng-container *ngFor="let item of activeMorenbancai | keyvalue : returnZero">
                  <mat-form-field *ngIf="!isMrbcjfzInfoEmpty(item.value)">
                    <mat-label>{{ item.key }}</mat-label>
                    <mat-select
                      class="value"
                      [value]="getBancaixuanze(item.value)"
                      (selectionChange)="setBancaixuanze(item.value, $event.value)"
                    >
                      <ng-container *ngFor="let item2 of xinghao['默认板材'] | keyvalue : returnZero">
                        <mat-option *ngIf="xinghao.getBancaiTitle(item2.key)" [value]="item2.key">
                          {{ item2.key }}: {{ xinghao.getBancaiTitle(item2.key) }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-column flex-110">
        <ng-scrollbar class="flex-110">
          <div class="flex-row" style="flex-wrap: wrap" [ngStyle]="{display: showMokuais ? 'flex' : 'none'}">
            <ng-container *ngFor="let mokuai of mokuais">
              <ng-container *ngIf="isMokuaiKexuan(mokuai)">
                <ng-template *ngTemplateOutlet="mokuaiT; context: {$implicit: mokuai, isActive: isMokuaiActive(mokuai)}"> </ng-template>
              </ng-container>
            </ng-container>
          </div>
        </ng-scrollbar>
      </div>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="xinghao-info flex-column" [ngClass]="{editable: !isFromOrder}" *ngIf="xinghao" (click)="openMrbcjfzDialog()">
      <ng-container *ngFor="let item of xinghao['默认板材'] | keyvalue : returnZero">
        <div *ngIf="xinghao.getBancaiTitle(item.key)">{{ item.key }}: {{ xinghao.getBancaiTitle(item.key) }}</div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #mokuaiT [appTypedTemplate]="mokuaiTemplateType" let-mokuai let-isActive="isActive">
  <div class="flex-column mokuai" [ngClass]="{active: isActive}" (click)="selectMokuai(mokuai)">
    <mat-icon class="active-sign" *ngIf="isActive">check</mat-icon>
    <app-image class="xiaoguotu flex-110" [src]="mokuai?.xiaoguotu" [prefix]="step1Data.prefix"></app-image>
    <div class="title" *ngIf="mokuai">{{ getMokuaiTitle(mokuai) || "无" }}</div>
  </div>
</ng-template>
