<div class="flex-row flex-110">
  <div class="flex-column">
    <div class="menu left">
      <div class="btn-group">
        <button mat-raised-button color="accent">保存</button>
        <button mat-raised-button color="primary">设计主页</button>
      </div>
      <mat-divider></mat-divider>
      <ng-scrollbar>
        <div class="inputs" *ngIf="leftMenuInputInfos.length > 0">
          <app-input #stepInputs *ngFor="let info of leftMenuInputInfos" [info]="info"></app-input>
        </div>
        <div class="cads" *ngIf="leftMenuCads.length > 0">
          <div class="cad" *ngFor="let cad of leftMenuCads">
            <img class="cad-preview" [src]="cad.img" (click)="selectLeftMenuCad(cad)" />
            <div class="flex-row" style="align-items: center">
              <div class="cad-name" (click)="selectLeftMenuCad(cad)">{{ cad.data.name }}</div>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <div class="flex-column flex-110">
    <div class="menu top">
      <div class="btn-group">
        <button
          mat-flat-button
          *ngFor="let type of stepTypes"
          [color]="stepType$.value === type ? 'accent' : 'primary'"
          [disabled]="isTypeDisabled(type)"
          (click)="setStepType(type)"
        >
          {{ type }}
        </button>
        <button mat-flat-button color="primary" disabled>选择生成零件</button>
        <button mat-flat-button color="primary" (click)="generateFront()">选中生成正面</button>
        <button mat-flat-button color="primary" disabled>选中生成背面</button>
        <button mat-flat-button color="primary" disabled>约束</button>
      </div>
    </div>
    <div class="flex-row flex-110">
      <div class="flex-column flex-110">
        <div #contentEl class="content"></div>
        <div class="menu bottom">
          <mat-form-field>
            <mat-label>{{ bottomInput.label }}</mat-label>
            <input
              #bottomInputEl
              matInput
              [(ngModel)]="bottomInput.value"
              [disabled]="bottomInput.disabled"
              [placeholder]="bottomInput.placeholder"
              (keydown)="onBottomValueChange($event)"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="menu right"></div>
    </div>
  </div>
</div>
<app-cad-points></app-cad-points>
