<div class="flex-row flex-110">
  <div class="flex-column">
    <div class="menu left">
      <div class="btn-group">
        <button mat-raised-button color="accent">保存</button>
        <button mat-raised-button color="primary">设计主页</button>
      </div>
      <mat-divider></mat-divider>
      <div class="btn-group" *ngIf="stepType">
        <button mat-raised-button color="primary" (click)="addStep()">添加</button>
        <ng-container *ngIf="stepIndex >= 0">
          <button mat-raised-button color="primary" (click)="addStep(stepIndex)">插入</button>
          <button mat-raised-button color="primary" (click)="replaceStep(stepIndex)">替换</button>
          <button mat-raised-button color="primary" (click)="removeStep(stepIndex)">删除</button>
        </ng-container>
      </div>
      <ng-scrollbar>
        <div class="inputs" *ngIf="leftMenuInputInfos.length > 0">
          <app-input #stepInputs *ngFor="let info of leftMenuInputInfos" [info]="info"></app-input>
        </div>
        <div class="cads" *ngIf="leftMenuCads.length > 0">
          <div class="cad" *ngFor="let cad of leftMenuCads">
            <img class="cad-preview" [src]="cad.img" (click)="selectLeftMenuCad(cad)" />
            <div class="flex-row" style="align-items: center">
              <mat-radio-button [checked]="cad.selected"></mat-radio-button>
              <div class="cad-name" (click)="selectLeftMenuCad(cad)">{{ cad.data.name }}</div>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <div class="flex-column flex-110">
    <div class="menu top">
      <div class="btn-group">
        <button
          mat-flat-button
          *ngFor="let type of stepTypes"
          [color]="stepType === type ? 'accent' : 'primary'"
          (click)="setStepType(type)"
        >
          {{ type }}
        </button>
        <button mat-flat-button color="primary">选择生成零件</button>
        <button mat-flat-button color="primary">选中生成正面</button>
        <button mat-flat-button color="primary">选中生成背面</button>
        <button mat-flat-button color="primary">约束</button>
      </div>
      <div class="steps">
        <div class="step" *ngFor="let step of steps; let i = index" (click)="selectStep(i)">
          <button mat-button [color]="stepIndex === i ? 'accent' : 'primary'">{{ step.type }}</button>
          <mat-icon mat-icon-button *ngIf="i < steps.length - 1">navigate_next</mat-icon>
        </div>
      </div>
    </div>
    <div class="flex-row flex-110">
      <div #contentEl class="content"></div>
      <div class="menu right"></div>
    </div>
  </div>
</div>
