:host {
  display: flex;
  width: 100%;
  height: 100%;
  --left-menu-width: 200px;
  --right-menu-width: 200px;
}

.menu {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 5px 1px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.top {
    width: 100%;
  }

  &.left {
    width: var(--left-menu-width);
    height: 100%;
  }

  &.right {
    width: var(--right-menu-width);
    height: 100%;
  }

  &.bottom {
    width: 100%;

    .mat-mdc-form-field {
      ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }
        .mat-mdc-form-field-infix {
          padding-top: 3px;
          padding-bottom: 3px;
          min-height: unset;
        }
      }
    }
  }
}

.content {
  flex: 1 1 0;
  background-color: black;
  position: relative;

  ::ng-deep .cad-viewer {
    position: absolute;
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;

  .step {
    display: flex;
    align-items: center;
  }
}

.cads {
  .cad {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;

    .cad-preview {
      cursor: pointer;
    }

    .cad-name {
      text-align: center;
      cursor: pointer;
    }
  }
}
