<perfect-scrollbar>
    <div class="bancais">
        <mat-card class="bancai" *ngFor="let form of bancaiForms; let i = index" [formGroup]="form">
            <mat-form-field>
                <mat-label>名字</mat-label>
                <input type="text" matInput formControlName="mingzi" readonly />
            </mat-form-field>
            <mat-form-field>
                <mat-label>材料</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="cailiao"
                    (focus)="formIdx = i"
                    (change)="updateSortedCads(form)"
                    [matAutocomplete]="cailiaoAuto"
                />
                <mat-error>{{ getCailiaoError(i) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>厚度</mat-label>
                <input
                    type="text"
                    matInput
                    name="厚度"
                    formControlName="houdu"
                    (focus)="formIdx = i"
                    (change)="updateSortedCads(form)"
                    [matAutocomplete]="houduAuto"
                />
                <mat-error>{{ getHouduError(i) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>规格</mat-label>
                <input
                    type="text"
                    matInput
                    name="规格"
                    formControlName="guige"
                    (focus)="formIdx = i"
                    (change)="updateSortedCads(form)"
                    [matAutocomplete]="guigeAuto"
                />
                <mat-error>{{ getGuigeError(i) }}</mat-error>
            </mat-form-field>
            <button mat-raised-button [color]="form.get('oversized')?.value ? 'accent' : 'primary'" (click)="openCadsDialog(i)">
                查看CAD
            </button>
        </mat-card>
    </div>
    <ngx-ui-loader [loaderId]="'bancaiLoader'"></ngx-ui-loader>
</perfect-scrollbar>
<div class="btn-group">
    <button mat-raised-button color="primary" [disabled]="!valid" (click)="submit()">
        激光开料排版
        <ngx-ui-loader [loaderId]="'submitLoader'" [fgsSize]="30" [hasProgressBar]="false"></ngx-ui-loader>
    </button>
    <span></span>
</div>

<mat-autocomplete #cailiaoAuto="matAutocomplete" (optionSelected)="selectValue($event, 'cailiao')">
    <mat-option *ngFor="let item of currList.cailiaoList" [value]="item">
        {{ item }}
    </mat-option>
</mat-autocomplete>
<mat-autocomplete #houduAuto="matAutocomplete" (optionSelected)="selectValue($event, 'houdu')">
    <mat-option *ngFor="let item of currList.houduList" [value]="item">
        {{ item }}
    </mat-option>
</mat-autocomplete>
<mat-autocomplete #guigeAuto="matAutocomplete" (optionSelected)="selectValue($event, 'guige')">
    <mat-option *ngFor="let item of currList.guigeList" [value]="item.join(' × ')">
        {{ item.join(" × ") }}
    </mat-option>
</mat-autocomplete>
