:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.bancai {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;

  > *:not(:last-child) {
    margin-right: 5px;
  }
}

.bancais:empty {
  height: 300px;
}

.title {
  font-size: 1.5rem;
  padding: 15px;
}

.links {
  float: right;
  padding-right: 15px;

  .link {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
