.menus {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .menus-row {
        display: flex;
        flex: 1 1 0;
        height: 0;
        justify-content: space-between;
    }

    .cad-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.menu {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;

    &.top {
        width: 100%;
        border-radius: 0;
        padding: 0 10px;
        top: 0;
        background-color: #fafafa;
    }

    &.bottom {
        width: 100%;
        bottom: 0;
        height: 20px;
        line-height: 22px;
    }

    &.left,
    &.right {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100%;
        align-items: center;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.accent {
        background-color: #ffcefc;
    }
}

::ng-deep {
    .mat-tab-label,
    .mat-tab-label-active {
        min-width: 44px !important;
        padding: 3px !important;
        margin: 3px !important;
    }

    .mat-tab-body-content {
        padding: 10px 0;

        perfect-scrollbar {
            height: calc(100vh - 300px);

            .ps-content > * > * {
                padding-right: 10px;
            }
        }
    }

    .mat-expansion-panel-body {
        padding: 0 8px 24px 16px;
    }
}

.menu-icon {
    background-color: white;
    transition: 0.3s;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    margin: 0 !important;
    &.left {
        float: right;
        &.closed {
            transform: translateX(36px);
        }
    }
    &.right {
        &.closed {
            transform: translateX(-36px);
        }
    }
}

.cad-status {
    user-select: none;
    width: 100%;
    text-align: center;
}

::ng-deep .mat-form-field-suffix {
    top: 8px;
}

.width-indicator {
    position: absolute;
    top: 10px;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    opacity: 0.8;
}
