<div #cadContainer (contextmenu)="onContextMenu($event)"></div>

<div
	style="visibility: hidden; position: fixed"
	[style.left]="contextMenuPosition.x"
	[style.top]="contextMenuPosition.y"
	[matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent>
		<button mat-menu-item (click)="zoomAll()">居中</button>
		<button mat-menu-item (click)="refresh()">刷新</button>
		<button mat-menu-item (click)="toggleAllMenu()">{{ showAllMenu ? "隐藏" : "显示" }}菜单</button>
	</ng-template>
</mat-menu>

<div class="menu top" [@closeTop]="showTopMenu ? 'open' : 'closed'">
	<app-toolbar></app-toolbar>
</div>

<div class="menu left" [@closeLeft]="showLeftMenu ? 'open' : 'closed'">
	<div class="btn-group">
		<div style="position: relative; display: inline-block">
			<button mat-raised-button color="accent" (click)="save()">保存</button>
			<ngx-ui-loader [loaderId]="loaderId" [fgsSize]="30" [hasProgressBar]="false"></ngx-ui-loader>
		</div>
		<mat-icon class="menu-icon left" [class.closed]="!showLeftMenu" (click)="toggleLeftMenu()">
			{{ showLeftMenu ? "navigate_before" : "navigate_next" }}
		</mat-icon>
	</div>
	<app-sub-cads></app-sub-cads>
</div>

<div class="menu right" [@closeRight]="showRightMenu ? 'open' : 'closed'">
	<div class="btn-group">
		<mat-icon class="menu-icon right" [class.closed]="!showRightMenu" (click)="toggleRightMenu()">
			{{ showRightMenu ? "navigate_next" : "navigate_before" }}
		</mat-icon>
	</div>
	<perfect-scrollbar>
		<mat-accordion multi>
			<mat-expansion-panel expanded *ngIf="shownMenus.includes('entityInfo')">
				<mat-expansion-panel-header>
					<mat-panel-title>CAD信息</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-slide-toggle [checked]="multiSelect" (change)="toggleMultiSelect()">
					实体{{ multiSelect ? "多选" : "单选" }}
				</mat-slide-toggle>
				<mat-tab-group #infoTabs dynamicHeight (selectedTabChange)="onInfoTabChange($event)" [ngSwitch]="tabIndex">
					<mat-tab label="CAD">
						<div [style.min-height]="tabIndex === 0 ? 'auto' : '300px'">
							<app-cad-info *ngSwitchCase="0"></app-cad-info>
						</div>
					</mat-tab>
					<mat-tab label="线段">
						<div [style.min-height]="tabIndex === 1 ? 'auto' : '300px'">
							<app-cad-line *ngSwitchCase="1"></app-cad-line>
						</div>
					</mat-tab>
					<mat-tab label="文本">
						<div [style.min-height]="tabIndex === 2 ? 'auto' : '300px'">
							<app-cad-mtext *ngSwitchCase="2"></app-cad-mtext>
						</div>
					</mat-tab>
					<mat-tab label="标注">
						<div [style.min-height]="tabIndex === 3 ? 'auto' : '300px'">
							<app-cad-dimension *ngSwitchCase="3"></app-cad-dimension>
						</div>
					</mat-tab>
				</mat-tab-group>
			</mat-expansion-panel>
			<mat-expansion-panel expanded *ngIf="shownMenus.includes('cadAssemble')">
				<mat-expansion-panel-header>
					<mat-panel-title>装配CAD</mat-panel-title>
				</mat-expansion-panel-header>
				<!-- <app-cad-assemble (selectComponent)="selectComponent($event)"></app-cad-assemble> -->
			</mat-expansion-panel>
		</mat-accordion>
	</perfect-scrollbar>
</div>

<div class="menu bottom" [class.accent]="cadStatusStr !== '普通'" [@closeBottom]="showBottomMenu ? 'open' : 'closed'">
	<div class="cad-status">当前状态：{{ cadStatusStr }}</div>
</div>

<app-cad-console></app-cad-console>
<app-cad-points></app-cad-points>
