<h1 mat-dialog-title>编辑标注</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field>
			<mat-label>名字</mat-label>
			<input formControlName="mingzi" matInput />
			<mat-error>{{ checkMqNull() }}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>区间</mat-label>
			<input formControlName="qujian" matInput />
			<mat-error>{{ checkMqNull() }}</mat-error>
			<mat-error>{{ checkQujian() }}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>CAD1</mat-label>
			<input formControlName="cad1" matInput />
		</mat-form-field>
		<mat-form-field>
			<mat-label>CAD2</mat-label>
			<input formControlName="cad2" matInput />
		</mat-form-field>
		<mat-form-field>
			<mat-label>线1位置</mat-label>
			<mat-select formControlName="e1Location">
				<mat-option value="start">起点</mat-option>
				<mat-option value="center">中点</mat-option>
				<mat-option value="end">终点</mat-option>
				<mat-option value="min">最小值</mat-option>
				<mat-option value="max">最大值</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>线2位置</mat-label>
			<mat-select formControlName="e2Location">
				<mat-option value="start">起点</mat-option>
				<mat-option value="center">中点</mat-option>
				<mat-option value="end">终点</mat-option>
				<mat-option value="min">最小值</mat-option>
				<mat-option value="max">最大值</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>方向</mat-label>
			<mat-select formControlName="axis">
				<mat-option value="x">x</mat-option>
				<mat-option value="y">y</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>距离</mat-label>
			<input type="number" matInput formControlName="distance" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>字体大小</mat-label>
			<input type="number" matInput formControlName="fontSize" />
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="submit()">确定</button>
	<button mat-raised-button color="primary" (click)="cancle()">取消</button>
</div>
