<button mat-icon-button [matMenuTriggerFor]="file">文件</button>
<mat-menu #file="matMenu">
	<button mat-menu-item [matMenuTriggerFor]="openType">打开</button>
	<button mat-menu-item (click)="clickBtn('s')" [disabled]="!canSave">保存<span class="shortcut">Ctrl + S</span></button>
	<!-- <button mat-menu-item>另存为</button> -->
</mat-menu>
<mat-menu #openType="matMenu">
	<button mat-menu-item (click)="clickBtn('1')">原始CAD文件<span class="shortcut">Ctrl + 1</span></button>
	<button mat-menu-item (click)="clickBtn('2')">CAD<span class="shortcut">Ctrl + 2</span></button>
	<button mat-menu-item (click)="clickBtn('3')">CAD模板<span class="shortcut">Ctrl + 3</span></button>
	<button mat-menu-item (click)="clickBtn('4')">企料组合<span class="shortcut">Ctrl + 4</span></button>
	<button mat-menu-item (click)="clickBtn('5')">切料CAD<span class="shortcut">Ctrl + 5</span></button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="edit">编辑</button>
<mat-menu #edit="matMenu">
	<button mat-menu-item [matMenuTriggerFor]="transform">变形</button>
	<button mat-menu-item (click)="clickBtn('g')">装配<span class="shortcut">Ctrl + G</span></button>
</mat-menu>
<mat-menu #transform="matMenu">
	<button mat-menu-item (click)="flip($event, true, false)">垂直翻转</button>
	<button mat-menu-item (click)="flip($event, false, true)">水平翻转</button>
	<button mat-menu-item (click)="flip($event, true, true)">中心对称</button>
	<button mat-menu-item (click)="rotate($event, true)">顺时针旋转</button>
	<button mat-menu-item (click)="rotate($event, false)">逆时针旋转</button>
	<button mat-menu-item (click)="rotate($event)">旋转</button>
</mat-menu>

<button mat-icon-button (click)="showHelpInfo()">帮助</button>
