<perfect-scrollbar>
    <div class="cards">
        <mat-card *ngFor="let item of data; let i = index">
            <div class="zhankai-form">
                <mat-checkbox
                    style="width: 100%"
                    (click)="onCheckboxChanglick($event)"
                    [checked]="checkedIndices.has(i)"
                    (change)="onCheckboxChange($event, i)"
                ></mat-checkbox>
                <mat-form-field style="font-weight: bold; color: #ff5e00; width: 100%">
                    <mat-label>名字</mat-label>
                    <input matInput type="text" [(ngModel)]="item.name" name="name" />
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>开料CAD模板</mat-label>
                    <input matInput type="text" [(ngModel)]="item.kailiaomuban" name="kailiaomuban" />
                    <mat-icon matSuffix color="primary" (click)="openCadmuban(item, 'kailiaomuban')">open_in_new</mat-icon>
                    <mat-icon matSuffix color="primary" (click)="selectCadmuban(item, 'kailiaomuban')">list</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>内开模板</mat-label>
                    <input matInput type="text" [(ngModel)]="item.neikaimuban" name="neikaimuban" />
                    <mat-icon matSuffix color="primary" (click)="openCadmuban(item, 'neikaimuban')">open_in_new</mat-icon>
                    <mat-icon matSuffix color="primary" (click)="selectCadmuban(item, 'neikaimuban')">list</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>展开宽</mat-label>
                    <input matInput type="text" [(ngModel)]="item.zhankaikuan" name="zhankaikuan" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>展开高</mat-label>
                    <input matInput type="text" [(ngModel)]="item.zhankaigao" name="zhankaigao" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>数量</mat-label>
                    <input matInput type="text" [(ngModel)]="item.shuliang" name="shuliang" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>数量倍数</mat-label>
                    <input matInput type="text" [(ngModel)]="item.shuliangbeishu" name="shuliangbeishu" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>外开最后翻转</mat-label>
                    <mat-select [(ngModel)]="item.flipWaikai">
                        <mat-option value="">不翻转</mat-option>
                        <mat-option value="v">垂直翻转</mat-option>
                        <mat-option value="h">水平翻转</mat-option>
                        <mat-option value="vh">垂直水平翻转</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>内开最后翻转</mat-label>
                    <mat-select [(ngModel)]="item.flipNeikai">
                        <mat-option value="">不翻转</mat-option>
                        <mat-option value="v">垂直翻转</mat-option>
                        <mat-option value="h">水平翻转</mat-option>
                        <mat-option value="vh">垂直水平翻转</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>开料</mat-label>
                    <input type="text" matInput hidden value=" " />
                    <mat-slide-toggle [checked]="item.kailiao" (change)="item.kailiao = $event.checked"></mat-slide-toggle>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</perfect-scrollbar>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="addItem()">添加</button>
    <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
    <button mat-raised-button color="primary" (click)="unselectAll()">全不选</button>
    <button mat-raised-button color="primary" (click)="copyItems()">复制</button>
    <button mat-raised-button color="primary" (click)="removeItems()">删除</button>
</div>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <button mat-raised-button color="primary" (click)="cancle()">取消</button>
</div>
