<perfect-scrollbar>
    <div class="cards">
        <mat-card *ngFor="let item of data; let i = index">
            <div class="zhankai-form">
                <mat-checkbox
                    class="full-width"
                    (click)="onCheckboxChanglick($event)"
                    [checked]="checkedIndices.has(i)"
                    (change)="onCheckboxChange($event, i)"
                ></mat-checkbox>
                <mat-form-field class="full-width" style="font-weight: bold; color: #ff5e00">
                    <mat-label>名字</mat-label>
                    <input matInput type="text" [(ngModel)]="item.name" name="name" />
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>开料CAD模板</mat-label>
                    <input matInput type="text" [(ngModel)]="item.kailiaomuban" name="kailiaomuban" />
                    <div matSuffix style="display: flex">
                        <mat-icon color="primary" (click)="openCadmuban(item, 'kailiaomuban')">open_in_new</mat-icon>
                        <mat-icon color="primary" (click)="selectCadmuban(item, 'kailiaomuban')">list</mat-icon>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>内开模板</mat-label>
                    <input matInput type="text" [(ngModel)]="item.neikaimuban" name="neikaimuban" />
                    <div matSuffix style="display: flex">
                        <mat-icon matSuffix color="primary" (click)="openCadmuban(item, 'neikaimuban')">open_in_new</mat-icon>
                        <mat-icon matSuffix color="primary" (click)="selectCadmuban(item, 'neikaimuban')">list</mat-icon>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>展开宽</mat-label>
                    <input matInput type="text" [(ngModel)]="item.zhankaikuan" name="zhankaikuan" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>展开高</mat-label>
                    <input matInput type="text" [(ngModel)]="item.zhankaigao" name="zhankaigao" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>数量</mat-label>
                    <input matInput type="text" [(ngModel)]="item.shuliang" name="shuliang" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>数量倍数</mat-label>
                    <input matInput type="text" [(ngModel)]="item.shuliangbeishu" name="shuliangbeishu" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>开料</mat-label>
                    <input type="text" matInput hidden value=" " />
                    <mat-slide-toggle [checked]="item.kailiao" (change)="item.kailiao = $event.checked"></mat-slide-toggle>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>开料数量不为1时拆成单个</mat-label>
                    <input type="text" matInput hidden value=" " />
                    <mat-slide-toggle [checked]="item.chai" (change)="item.chai = $event.checked"></mat-slide-toggle>
                </mat-form-field>
                <mat-form-field *ngFor="let c of item.conditions; let j = index" class="full-width">
                    <mat-label>条件</mat-label>
                    <input matInput type="text" [value]="c.value" (input)="setCondition($event, c)" />
                    <div matSuffix style="display: flex">
                        <mat-icon color="primary" (click)="addCondition(item.conditions, j)">add_circle</mat-icon>
                        <mat-icon color="primary" (click)="removeCondition(item.conditions, j)">remove_circle</mat-icon>
                    </div>
                </mat-form-field>
                <div class="flip">
                    <div class="title">最后翻转</div>
                    <div class="flip-item" *ngFor="let item2 of item.flip; let j = index">
                        <mat-form-field>
                            <mat-label>{{ keysMap.kaiqi }}</mat-label>
                            <input type="text" matInput [(ngModel)]="item2.kaiqi" />
                            <mat-icon matSuffix color="primary" (click)="selectOptions(item2, 'kaiqi')">list</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ keysMap.chanpinfenlei }}</mat-label>
                            <input type="text" matInput [(ngModel)]="item2.chanpinfenlei" />
                            <mat-icon matSuffix color="primary" (click)="selectOptions(item2, 'chanpinfenlei')">list</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ keysMap.flip }}</mat-label>
                            <input type="text" matInput hidden value=" " />
                            <mat-slide-toggle [checked]="item2.fanzhuan" (change)="item2.fanzhuan = $event.checked"></mat-slide-toggle>
                        </mat-form-field>
                        <div class="btn-group">
                            <mat-icon color="primary" (click)="addFlipItem(i, j)">add</mat-icon>
                            <mat-icon color="primary" (click)="removeFlipItem(i, j)">remove</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</perfect-scrollbar>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="addItem()">添加</button>
    <button mat-raised-button color="primary" (click)="selectAll()">全选</button>
    <button mat-raised-button color="primary" (click)="unselectAll()">全不选</button>
    <button mat-raised-button color="primary" (click)="copyItems()">复制</button>
    <button mat-raised-button color="primary" (click)="removeItems()">删除</button>
</div>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="submit()">确定</button>
    <button mat-raised-button color="primary" (click)="cancle()">取消</button>
</div>
