:host {
    display: block;
    width: calc(100vw - 48px);
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
}

.cards {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #5d5d5d;

    .mat-card {
        width: calc(33.33% - 20px);
        margin: 10px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .zhankai-form {
            display: flex;
            flex-wrap: wrap;

            .mat-form-field {
                width: 50%;
                box-sizing: border-box;
                padding: 5px;

                &.full-width {
                    width: 100%;
                }
            }
        }
    }
}

.btn-group {
    text-align: center;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
}
.flip {
    @include flex;

    .title {
        margin: 10px 0 0 10px;
        color: rgba(0, 0, 0, 0.54);
    }

    .flip-item {
        @include flex;
    }
}
