<div class="container">
    <mat-card class="toolbar">
        <mat-card-content class="content">
            <div>
                <button mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="!canSubmit">
                    选择dxf文件
                    <app-loader-inline [loaderId]="loaderId"></app-loader-inline>
                </button>
            </div>
            <div class="form">
                <mat-form-field *ngFor="let config of importConfig">
                    <mat-label>{{ config.label }}</mat-label>
                    <input type="text" matInput value="1" hidden />
                    <mat-radio-group [(ngModel)]="config.value" required>
                        <mat-radio-button [value]="true">是</mat-radio-button>
                        <mat-radio-button [value]="false">否</mat-radio-button>
                    </mat-radio-group>
                </mat-form-field>
            </div>
            <input #fileInput type="file" accept=".dxf" hidden (change)="importDxf($event)" />
            <app-progress-bar [progressBar]="progressBar" [status]="progressBarStatus" [msg]="msg"></app-progress-bar>
        </mat-card-content>
    </mat-card>

    <perfect-scrollbar style="flex: 1 1 0">
        <div class="cads">
            <ng-container *ngFor="let cad of cads">
                <div *ngIf="cad.errors.length > 0" class="cad">
                    <div>名字: {{ cad.data.name }}</div>
                    <div>唯一码: {{ cad.data.info["唯一码"] }}</div>
                    <ul>
                        <li class="error" *ngFor="let error of cad.errors" [innerHtml]="error"></li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </perfect-scrollbar>
    <app-thuum></app-thuum>
</div>
