:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.items {
    display: flex;
    flex-wrap: wrap;

    .item {
        width: calc(33.33% - 20px);
        margin: 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        .btn-group {
            width: 100%;
        }
    }

    app-input {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;

        &.基准X,
        &.基准Y,
        &.类型 {
            width: 50%;
        }
    }
}
