<form [class.not-allowed]="selected.length < 1">
	<div class="not-allowed-area" *ngIf="selected.length < 1"></div>
	<button hidden></button>
	<div class="form-item length">
		<mat-form-field>
			<mat-label>内容</mat-label>
			<textarea
				matInput
				cdkTextareaAutosize
				[cdkAutosizeMaxRows]="5"
				[ngModel]="getInfo('text')"
				(input)="setInfo('text', $event)"
				placeholder="请输入内容"
				name="mtext"
			></textarea>
		</mat-form-field>
	</div>
	<div class="form-item font-size">
		<mat-form-field>
			<mat-label>字体大小</mat-label>
			<input
				matInput
				type="number"
				min="0"
				[ngModel]="getInfo('font_size')"
				(change)="setInfo('font_size', $event)"
				placeholder="请输入字体大小"
				name="font_size"
			/>
		</mat-form-field>
	</div>
	<div class="form-item color">
		<mat-form-field>
			<mat-label>颜色</mat-label>
			<input matInput ejs-colorpicker type="color" [enableOpacity]="false" [value]="getColor()" (change)="setColor($event)" />
		</mat-form-field>
	</div>
</form>

<span *ngIf="!data" style="color: #888888"> 若要添加或复制文本， </span>
<div class="btn-group only-one-cad">
	<ng-container *ngIf="data">
		<button mat-raised-button color="primary" (click)="addMtext()">添加文本</button>
		<button mat-raised-button color="primary" (click)="cloneMtexts()">复制文本</button>
	</ng-container>
</div>
