<form [class.not-allowed]="selected.length < 1">
    <div class="not-allowed-area" *ngIf="selected.length < 1"></div>
    <button hidden></button>
    <div class="form-item text">
        <mat-form-field>
            <mat-label>内容</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                [cdkAutosizeMaxRows]="5"
                [value]="getInfo('text')"
                (input)="setInfo('text', $event)"
                placeholder="请输入内容"
                name="mtext"
            ></textarea>
        </mat-form-field>
    </div>
    <div class="form-item font-size">
        <mat-form-field>
            <mat-label>字体大小</mat-label>
            <input
                matInput
                type="number"
                min="0"
                [value]="getInfo('font_size')"
                (change)="setInfo('font_size', $event)"
                placeholder="请输入字体大小"
                name="font_size"
            />
        </mat-form-field>
    </div>
    <div class="form-item color">
        <mat-form-field>
            <mat-label>颜色</mat-label>
            <input
                matInput
                [value]="colorText"
                [style]="{color: colorValue, backgroundColor: colorBg, transition: '0.3s'}"
                [matMenuTriggerFor]="colorPicker"
                readonly
            />
            <mat-menu #colorPicker="matMenu">
                <color-chrome [color]="colorValue" (onChangeComplete)="setColor($event)" (click)="$event.stopPropagation()"></color-chrome
            ></mat-menu>
        </mat-form-field>
    </div>
    <div class="form-item font-anchor">
        <mat-form-field floatLabel="always">
            <mat-label>锚点</mat-label>
            <input matInput type="text" placeholder="请选择锚点" [value]="getAnchor()" name="anchor" readonly />
            <button mat-icon-button matSuffix color="primary" [matMenuTriggerFor]="anchor">
                <mat-icon>list</mat-icon>
            </button>
            <mat-menu #anchor="matMenu">
                <app-anchor-selector
                    [x]="currAnchor.x"
                    [y]="currAnchor.y"
                    (anchorChangeEnd)="setAnchor($event)"
                    (click)="$event.stopPropagation()"
                ></app-anchor-selector>
            </mat-menu>
        </mat-form-field>
    </div>
</form>

<div class="btn-group">
    <button mat-raised-button color="primary" (click)="addMtext()">添加文本</button>
    <button mat-raised-button color="primary" (click)="cloneMtexts()">复制文本</button>
</div>
