.formulas {
  --formula-key-width: auto;

  .formula {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    color: black;

    .formula-key {
      width: var(--formula-key-width);
      text-align: right;
      color: #2186da;
    }

    .formula-value {
      color: #ec7a4a;
    }

    .formula-eq,
    .formula-neq {
      margin: 0 0.25em;
    }
    .formula-eq::after {
      content: "=";
    }
    .formula-neq::after {
      content: "≠";
      color: red;
    }
  }
}
