@import "../../../../mat-theme.scss";

:host {
    width: calc(80vw - 48px);
    height: calc(80vh - 24px);
    display: flex;
    flex-direction: column;

    > :not(.contnet) {
        flex: 0 0 0;
    }

    > .content {
        flex: 1 1 0;
        height: 0;
        position: relative;
    }
}

mat-paginator,
.data-container {
    line-height: 1.5rem;
    font-size: 1rem;
}

mat-radio-group,
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.data-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 20%;
    box-sizing: border-box;

    img {
        object-fit: scale-down;
        cursor: pointer;
        width: 100%;
    }

    .details {
        .mat-subheader {
            padding: 0;
            height: auto;
            color: #0378d5;
        }

        .mat-list-item {
            font-size: 0.9rem;
            line-height: 1.15rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: auto;

            .mat-list-item-content {
                padding: 0;
            }
        }

        .mat-divider {
            margin: 5px 0;
        }
    }
}

.mat-dialog-actions {
    justify-content: center !important;
}

.search-input {
    display: flex;

    > * {
        margin: 0 5px -20px 5px;
    }
}

.search-button {
    cursor: pointer;

    &:hover {
        color: mat-color($primary);
    }
}

table {
    width: 100%;
}

.cad-preview {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        cursor: pointer;
    }
}
