@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~highlight.js/styles/atom-one-dark.css";
@import "./app/modules/message/styles.scss";
@import "./cad-viewer/src/cad-viewer.scss";

@font-face {
    font-family: "Fira Code Retina";
    src: url("assets/fonts/FIRACODE-RETINA_0.TTF");
}

.hljs {
    font-family: "Fira Code Retina", monospace;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn-group {
    margin: 5px;

    > * {
        margin: 5px !important;
    }
}

*[disabled] {
    cursor: not-allowed !important;
}

.add-empty-msg:empty::after {
    content: "空空如也";
    color: #888888;
    font-size: 1rem;
}

form {
    font-size: 1rem;

    .form-item-group {
        &.hint {
            margin-bottom: 12px;
        }

        mat-hint {
            font-size: 0.9rem;
        }
    }

    mat-form-field {
        width: 100%;
    }
}

.only-one-cad:empty::after {
    content: "请先选择且仅选择一个CAD";
    color: #888888;
}

.not-allowed::after {
    content: "DISABLED";
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

// perfect scrollbar
.ps__thumb-x,
.ps__thumb-y {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.ps__thumb-y {
    width: 3px !important;
}
.ps__rail-y.ps--clicking .ps__thumb-x,
.ps__rail-y:focus > .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-x,
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 6px !important;
}
.ps__rail-x,
.ps__rail-y {
    background: transparent !important;
}

.sub-form-field,
.sub-form-field-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 8px;

    &:not(:first-child) {
        margin: 5px auto;
    }
    &:empty {
        display: none;
    }
}
.sub-form-field {
    .label {
        color: rgba(0, 0, 0, 0.54);
    }
}

.drag-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// resizable-element
.resize-handle-top,
.resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
    left: 0;
}
.resize-handle-top {
    top: 0;
}
.resize-handle-bottom {
    bottom: 0;
}
.resize-handle-left,
.resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
    top: 0;
}
.resize-handle-left {
    left: 0;
}
.resize-handle-right {
    right: 0;
}
