@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~highlight.js/styles/atom-one-dark.css";
@import "./app/cad-viewer/cad-viewer.scss";

@font-face {
	font-family: "Fira Code Retina";
	src: url("assets/fonts/FIRACODE-RETINA_0.TTF");
}

.hljs {
	font-family: "Fira Code Retina", monospace;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.btn-group {
	margin: 5px;

	> * {
		margin: 5px !important;
	}
}

*[disabled] {
	cursor: not-allowed !important;
}

.add-empty-msg:empty::after {
	content: "空空如也";
	color: #888888;
	font-size: 1rem;
}

mat-icon {
	cursor: pointer;
}

form {
	font-size: 1rem;

	.form-item-group {
		&.hint {
			margin-bottom: 12px;
		}

		mat-hint {
			font-size: 0.9rem;
		}
	}

	mat-form-field {
		width: 100%;
	}
}

.only-one-cad:empty::after {
	content: "请先选择且仅选择一个CAD";
	color: #888888;
}

.not-allowed::after {
	content: "DISABLED";
	cursor: not-allowed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.33);
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.mat-checkbox {
	display: inline-block;
	max-width: 100%;
}
.mat-checkbox-layout {
	width: 100%;
}
.mat-checkbox-label {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.mat-checkbox-inner-container {
	margin: auto 8px !important;
}

.mat-menu-content {
	overflow: hidden;
}
