@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-group {
	margin: 5px;

	> * {
		margin: 5px !important;
	}
}

.add-empty-msg:empty::after {
	content: "空空如也";
	color: #888888;
	font-size: 1rem;
}

mat-icon {
	cursor: pointer;
}

mat-form-field {
	width: 100% !important;
}
