.placeholder {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(135deg, #000000, #808080, #ffffff);
	background-size: 400% 400%;
	animation: loading 60s ease infinite;
}

@keyframes loading {
	0% {
		background-position: 15% 0%;
	}
	50% {
		background-position: 85% 100%;
	}
	100% {
		background-position: 15% 0%;
	}
}
