<div class="table-container">
	<div class="table-title" *ngIf="title">{{ title }}</div>
	<div class="btn-group table-toolbar">
		<button mat-raised-button color="primary" (click)="addItem()" [disabled]="newItem === undefined">添加</button>
		<button mat-raised-button color="primary" (click)="removeItem()" [disabled]="selection.selected.length < 1">删除</button>
		<button mat-raised-button color="primary" (click)="export()">导出</button>
		<button mat-raised-button color="primary" (click)="import()">导入</button>
	</div>
	<div class="error-msg" *ngIf="errorState.length">
		<div>错误:</div>
		<div *ngFor="let item of errorState">{{ item.msg }}</div>
	</div>
	<perfect-scrollbar class="table-body">
		<mat-table [dataSource]="data" matSort>
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef [style.width.px]="checkBoxSize">
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
					>
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row" [style.width.px]="checkBoxSize">
					<mat-checkbox
						(click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)"
					>
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="column.field" *ngFor="let column of columns; let colIdx = index">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="columns[colIdx].width">{{ column.name }}</th>
				<td
					mat-cell
					*matCellDef="let item; let rowIdx = index"
					[style.width]="columns[colIdx].width"
					[class.error]="!isVaild(rowIdx)"
				>
					<ng-container *ngIf="isColumnEditable(column); else notEditable" [ngSwitch]="column.type">
						<input
							*ngSwitchCase="'string'"
							type="text"
							matInput
							[value]="item[column.field]"
							(input)="setCellValue($event, colIdx, item)"
						/>
						<input
							*ngSwitchCase="'number'"
							matInput
							type="number"
							[value]="item[column.field]"
							(input)="setCellValue($event, colIdx, item)"
						/>
						<mat-slide-toggle
							*ngSwitchCase="'boolean'"
							[checked]="item[column.field] === true"
							(change)="setCellValue($event, colIdx, item)"
						></mat-slide-toggle>
						<mat-select
							*ngSwitchCase="'select'"
							[value]="item[column.field]"
							(selectionChange)="setCellValue($event, colIdx, item)"
						>
							<mat-option *ngFor="let item of getColumnOptions(column)" [value]="item">
								{{ item }}
							</mat-option>
						</mat-select>
						<div class="row-btn-group" *ngSwitchCase="'button'">
							<button
								mat-stroked-button
								color="primary"
								*ngFor="let btn of getColumnButtons(column)"
								(click)="onRowButtonClick(btn.event, column.field, item)"
							>
								{{ btn.name }}
							</button>
						</div>
					</ng-container>
					<ng-template #notEditable>
						{{ item[column.field] }}
					</ng-template>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnFields; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: columnFields"></tr>
		</mat-table>
	</perfect-scrollbar>
</div>

<input #input type="file" hidden accept=".json" />
